# Environment & secrets
.env
.env.local
.venv
venv/

# Python Caches
__pycache__/
*.pyc

# Logs & build outputs
logs/
*.log
node_modules/
dist/
dist-ssr/

# Data files & databases
Files/*.pkl

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

